$table_border_colour:   #dddddd;
$table_cell_grayed:   #eee;
$today_highlight_colour: #ffa;

$font-family-base:      'Segoe UI', 'HelveticaNeue-Light', sans-serif;


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 0;
}

.rota-wrapper {
  margin: 5%;
  margin-top: 5em;
}
.modal-dialogue-close {
  a:hover {
    text-decoration: none;
  }
}
.well {
  padding: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}
table {
  width: 100%;
  border-top: 2px solid $table_border_colour;
}
/* cerulean override */
.table {
  margin-bottom: 5px;
}
tr {
  line-height: 1.5em;
}
td, th {
  width: 10%;
  border: 2px solid $table_border_colour;
  text-align: center;
  vertical-align: middle;
  font-size: .7em;
  font-weight: normal;
}

td:hover {
  background-color: yellow;
}

td {
  cursor: pointer;
}

.grayed {
  background-color: $table_cell_grayed;
}

.today-highlight {
  background-color: $today_highlight_colour;
}

.container-columns, footer, header {
  margin: .5em;
}

@media screen and (min-width: 1024px ) {
  .well {
    float: left;
    width: 50%;
    margin-bottom: 5px;
  }
}
