$table_border_colour:   #dddddd;
$table_cell_grayed:   #eee;
$today_highlight_colour: #ffa;

$font-family-base:      'Segoe UI', 'HelveticaNeue-Light', sans-serif;

.modal-dialogue-close {
  a:hover {
    text-decoration: none;
  }
}

table {
  border-top: 2px solid $table_border_colour;
}

td, th {
  border: 2px solid $table_border_colour;
  width: 10%;
  text-align: center;
  vertical-align: middle;
}

td:hover {
  background-color: yellow;
}

td {
  cursor: pointer;
}

.grayed {
  background-color: $table_cell_grayed;
}

.today-highlight {
  background-color: $today_highlight_colour;
}
